*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Helvetica', sans-serif;
}

:root{
    /* Color */
    --blue: rgb(24, 118, 242);
    --green: rgb(0, 173, 87);
    --gray: rgb(132, 132, 132);
    --grayLight: rgb(235, 231, 231);
    --white: rgb(255, 255, 255);
    --black: rgb(22, 17, 16);

    /* Font-size */
    --content: 16px;
    --title: 20px;
    --aside : 14px;
    --smallInfo: 12px;
}

html, body{
    
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 65px auto;
    grid-template-areas: 
            "header"
            "container";
    row-gap: 20px;
    background-color: #efefef;
    justify-content: center;
}

.body_dark {
    background-color: var(--black);
    color: var(--gray);
}

a{
    text-decoration: none;
    color: var(--blue);
}

a:link, a:visited, a:active{
    text-decoration: none;
    color: var(--blue);
}

/* La barre de navigation et l'entête */

#header{
    display: grid;
    grid-template-columns: 1fr;
    grid-area: header;
    /* max-width: 100%; */
    width: 100%;
    background-color: var(--blue);
    position: sticky;
    top: 0;
    z-index: 1000;
    align-items: center;
    justify-items: center;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1240px;
    height: 65px;

    padding: 0 40px;

}

.logoNotif{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    width: 400px;
    height: 65px;

}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo img {
    width: 180px;
    padding: 0;
}



.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.notification img {
    width: 30px;
}

.searchProfil{
    display: flex;
    align-items: center;
    max-width: 500px;
    width: 100%;
    gap: 20px;
    justify-content: flex-end;
    position: relative;
}



.menu_dark {
    display: none;
    position: absolute;
    background-color: var(--white);
    top: 60px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 6px var(--grayLight);
    font-size: var(--aside);
    padding: 20px;
    transition: display 1s ease-in-out;
}

.menu_dark_deroulant {
    display: block;

}

.menu_content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu_content span {
    font-size: var(--smallInfo);
    color: var(--blue);
}

.menu_content img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.nom_user_menu, .menu_feedback {
    display: flex;
    flex-direction: column;
} 

.menu_btn {
    position: relative;
    width: 50px;
    border-radius: 50px;
    background-color: var(--grayLight);
    border: none;
    outline: none;
    cursor: pointer;
    height: 25px;
    padding: 2px;

    display: flex;
    align-items: center;
}

.rond_btn {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: var(--blue);
    cursor: pointer;
}

.btn_on_mode {
    padding-left: 25px;
    background-color: black;
}

.rond_btn_dark{
    background-color: var(--white);
}






.btn_photo_content {
    display: flex;
    gap: 10px;
}

.setting_content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.give_feed {
    display: flex;
    gap: 10px;
    width: 100%;
}


.btn_photo, .config_block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.config_block > img {
    width: 10px;
    height: 15px;
    cursor: pointer;
}

.trait {
    width: auto;
    height: 1px;
    background-color: var(--gray);
}






.search {
    position: relative;
    display: flex;
    align-items: center;

}

.search input {
    position: relative;
    width: 300px;
    height: 40px;
    border-radius: 50px;
    font-size: var(--content);
    padding-left: 50px;
    outline: none;
    border: none;
}

.search img {
    position: absolute;
    left: 10px;
    top: 25%;
    z-index: 1;
    cursor: pointer;
    width: 20px;
}

.profil {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 50%;

    position: relative;
    cursor: pointer;
}

.profil::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--green);
    border: 2px solid var(--white);
    border-radius: 50%;
    top: 0;
    right: 0;
    transform: translate(-50%, -30%);
    z-index: 2;
}

.profil img {
    width: 100%;
    border-radius: 50%;
}

/* Contenu de la page */



#container{
    display: grid;
    grid-template-columns: 1fr;
    grid-area: container;
    height: auto;
    margin: 0 auto;
    width: 100%;
    max-width: 1240px;
    margin-bottom: 20px;
    position: relative;
}

.container_content{
    display: grid;
    grid-template-columns: 230px 650px 250px;
    margin: 0 auto;
    width: 100%;
    max-width: 1210px;
    justify-content: center;
    column-gap: 10px;
    position: relative;


}



/* Aside 1 */


aside.abonnement {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 10px;
    margin-left: 0 5%;
    position: sticky;
    width: 100%;
    max-width: 230px;
    /* height: 1000px; */
    top: 10px;
}

aside.abonnement .follow {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.aside_latest {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    font-size: var(--aside);

    cursor: pointer;
}


.aside_latest img {
    width: 25px;
}

.more a{
    font-size: var(--content);

}

hr {
    margin: 20px 0;
    width: 230px;
}


.shortcuts {
    display: flex;
    flex-direction: column;
    font-size: var(--aside);
    gap: 30px;
}

.title_shortcut {
    font-size: var(--content);
    font-weight: bold;
}

.shortcuts .short {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.short .item_short {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.short .item_short img {
    width: 40px;
    border-radius: 5px;
}


/* Partie main */

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
    width: 640px;
    position: relative;

}

/* Zone status */

.photo_status {
    display: flex;
    justify-content: center;
    align-items: center;
}


.photo_status .status {
    display: flex;
    gap: 10px;
}

.status_user {
    position: relative;
    display: flex;
    justify-content: center;
    width: 120px;
    border-radius: 10px;
    overflow: hidden;
}

.status_user img:nth-child(2) {
    width: 100%;

}

.status_user img:nth-child(1), .status_user p {
    position: absolute;
}

.ajout_status {
    width: 30px;
    height: 30px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profil_status {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    inset: 15px;
    border: 4px solid var(--blue);
}

.status_user p{
    bottom: 7px;
    text-align: center;
    color: var(--white);
    font-size: var(--content);
}

.status_user::before {
    content: "";
    position: absolute;
    background: linear-gradient(to bottom, rgb(0, 0, 0, 0.5) 100%, white 20%);
    width: 100%;
    height: 100%;
}


/* Zone publication */

.publication {
    display: flex;
    justify-content: flex-start;
    background-color: var(--white);
    box-shadow: 0 0 4px var(--grayLight);
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 5px;
    width: 100%;
}


.block_publication {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.block_publication > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.mode_user {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: var(--smallInfo);
}

.mode_user img {
    width: 10px;

}

#textarea {
    width: 100%;
    height: 150px;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--grayLight);
    resize: none;
    padding: 15px 0 0 5px;
    font-size: var(--content);
}

.item_publication {
    display: flex;
    gap: 20px;
    padding: 10px;
}

.live_video {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    color: var(--gray);
}

.live_video img {
    width: 20px;
}

/* Block publication membre */

.membre_pub {
    display:  flex;
    justify-content: center;
    padding: 25px;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0 0 4px var(--grayLight);
}

.membre_pub_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.membre_pub_content_profil {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.membre_pub_content_profil  .membre_profil {
    display: flex;
    gap: 10px;
}

.membre_profil img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.nom_date {
    display: flex;
    flex-direction: column;
}

.date_pub {
    color: var(--gray);
    font-size: var(--smallInfo);
}

.membre_pub_content_profil > img {
    height: 20px;
    cursor: pointer;
}

section.feed_membre {
    font-size: var(--content);
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 30px;

}

section.feed_membre p {
    font-size: var(--content);
}


section.feed_membre img {
    width: 100%;
    border-radius: 5px;
    line-height: 20px;
}

.footer_membre_pub {
    display:  flex;
    justify-content: center;
}

.footer_notification {
    display:  flex;
    justify-content: space-between;
    width: 100%;
}

.comment_like {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.membre_notif {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: var(--smallInfo);
    color: var(--gray);

}

.membre_notif img {
    width: 20px;
}

.footer_profil {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer_profil img:nth-child(1) {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.footer_profil img:nth-child(2) {
    width: 10px;

}

















aside.conversation {
    width: 250px;
    display: flex;
    background-color: var(--white);
    box-shadow: 0 0 4px var(--grayLight);
    padding: 10px;
    border-radius: 5px;
    margin-right: 0 5%;
    height: 850px;
    position: sticky;
}

.conversation_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.events {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.title_conversation > p{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_conversation > p span{
    color: var(--gray);
    font-size: var(--smallInfo);
    color: var(--blue);
    font-weight: 400;
}

.social_mobile {
    display: flex;
    gap: 15px;
}

.date_social {

    width: 70px;
    background-color: var(--white);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    box-shadow: 0 0 4px var(--grayLight);
}

.jour {
    font-size: var(--content);
    font-weight: 800;
    color: black;


}

.mois {
    position: absolute;
    background-color: var(--blue);
    font-size: var(--smallInfo);
    color: var(--white);
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.social_content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.localisation {
    display: flex;
    gap: 5px;
    font-size: var(--smallInfo);
    color: var(--gray);
}

.localisation img {
    width: 10px;
    object-fit: contain;
}

.localisation + p {
    font-size: var(--smallInfo);
    color: var(--blue);
}

.advertisement {
    margin-top: 20px;
}
.advertisement_img {
    width: 100%;
    height: 200px;
    margin-top: 20px;
}

.advertisement_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}




.conversation_user {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user_inline {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.user_friend {
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
}

.user_friend img {
    width: 60px;
    height: 60px;
    border-radius: 50%;

}

.image_user_inline{
    position: relative;
}

.image_user_inline::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--green);
    border: 2px solid var(--white);
    border-radius: 50%;
    bottom: 0;
    right: 0;
    transform: translate(-30%, -30%);
    z-index: 2;
}






/* Footer */

